<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma-rtl.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="columns is-desktop is-vcentered hero" style="margin-top: 10vw;">
        <div class="column">
        <h1 class="title">{{ title }}</h1>
        </div>
        {% block content%}
        {% endblock %}
    </div>
<script src="static/js/play.js"></script>
</body>
</html>