{% extends "base.html" %}

{% block content %}
    <form class="box col-md-4 col-lg-offset-4" style="width: 300px" action="#" method="POST">
        <div class="field">
            <label class="label" for="url">Here you can enter your URL:</label>
            <div class="control">
            <input 
                class="input"
                type="url" 
                id="url" 
                name="miniurl"
                placeholder="https://_Long_URL.com"
                pattern="https://.*"
                >
            </div>
        </div>

        <button class="button is-primary" type="submit">Make your Mini URL!</button>
    </form>
{% endblock %}