{% extends "base.html" %}

{% block content %}
<div class="column ml-3">
    <div class="box"> 
    <h1>https://gitlab-env-production-school.herokuapp.com/{{short_url_display}}</h1>
    </div>
    <a href="/" class="button is-primary">Back Home</a>
</div>
{% endblock %}